
.single_product {
    background-color: #fff;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.single_product h5,
.single_product h3,
.single_product p {
    padding: 0 10px
}
.single_product h5 {
    padding-top: 10px;
}
.single_product p {
    padding-bottom: 10px;
}
.single_product img {
    width: 100% !important;
}